#date{
  color: #808080;
  display: inline;
}
#text
{
    display:inline;
    font-size: 25px;
    text-align: left;
}
.stylecard{
    padding-left:21px;
    padding-top: 23px;
    padding-right: 38px;
    padding-bottom: 21px
}
